<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" />

    <hr />

    <label for="email">Email:</label>
    <input type="text" id="email" formControlName="email" />

    <hr />

    <label for="age">Age:</label>
    <input type="number" id="age" formControlName="age" />
    <div *ngIf="myForm.controls['age'].errors?.['ageError']">
        {{ myForm.controls['age'].errors?.['ageError'] }}
    </div>

    <hr />

    <div formArrayName="languages">
        <label>Languages:</label>
        <div *ngFor="let language of languages.controls; let i = index">
            <input [formControlName]="i" type="text" placeholder="Enter Language..." />
            <button type="button" (click)="removeLanguage(i)">Remove</button>
        </div>
    </div>
    <button type="button" (click)="addLanguage()">Add Language</button>

    <hr />

    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username" />
    <div *ngIf="myForm.controls['username'].errors?.['usernameTaken']">
        This username is already taken.
    </div>

    <hr />

    <button type="submit" [disabled]="!myForm.valid">Submit</button>
</form>
